<div class="login-hero-img">
  <div class="login-box">
      <div class="login-outer">
          <div class="login-slogan forgot-slogan">Forgot Your Password?</div>
          <div class="login-subtext">We have you covered! Enter your email on file and we will send you a reset link.</div>
          <form (submit)="onSubmit()">
              <span class="username-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <input class="input-form-text login-form-text"
                  placeholder="Enter Your Email" type="email" name="email" [(ngModel)]="email"/>
              <button class="login-btn" name="login" type="submit">Request Reset</button>
              <app-error-message *ngIf="errormsg != ''" [header]="errorheader" [msg]="errormsg"></app-error-message>
          </form>
      </div>
  </div>
</div>
    