<div class="table-responsive">
  <table class="table dropdown-table-striped table-w-border table-height">
      <thead class="table-header-style">
          <tr>
              <th class="left-table-col left-table-fixed">#</th>
              <th>Shop Name</th>
              <th>Location</th>
              <th></th>
          </tr>
      </thead>
      <tbody class="box-body" *ngIf="shopList.length > 0">
            <ng-container *ngFor="let shop of shopList; index as i" >
                    <tr class="main-row" (click)="toggleDropdown(i)">
                      <td class="left-table-fixed">{{i + 1}}</td>
                      <td>{{shop.name}}</td>
                      <td>{{shop.address}}</td>
                      <td class="left-table-fixed right-table-fixed">
                        <i class="fa fa-chevron-down" [ngClass]="rowsActive.includes(i) ? 'stats-blue' : ''" aria-hidden="true"></i>
                      </td>
                    </tr>
                    <tr *ngIf="rowsActive.includes(i)" class="manage-shops-tech-list">
                      <td colspan="4">          
                        <app-manage-shops-tech-list (notify)="toggleModal($event)"></app-manage-shops-tech-list>
                      </td>
                    </tr>
                  </ng-container>
      </tbody>
      <tbody class="box-body" *ngIf="shopList.length === 0">
          <tr><td colspan="4">No Shops Found</td></tr>
      </tbody>
  </table>
</div>