<div class="shop-dashboard-header">
  <div class="col-md-8 col-shop-header-left">
      <img class="img-circle" src="assets/img/goals-icon.svg" alt="User profile picture">
      <div class="shop-header">Goals</div>
  </div>
  <div class="col-md-4">
      <app-date-picker></app-date-picker>
  </div>
</div>

<form name="goalsForm">
  <div class="col-md-12">
    <app-goals-list></app-goals-list>
    <div class="shop-buttons-row" >
      <div class="shop-button add-button goals-save" 
      (click)="saveGoals()">
        <i class="fa fa-check" aria-hidden="true"></i>
          <span class="button-text-left">Save Changes</span>
      </div>
      <div class="shop-button add-button goals-cancel" ng-click="getGoals()">
        <i class="fa fa-times" aria-hidden="true"></i>
          <span class="button-text-left">Cancel</span>
      </div>
      <div *ngIf="goalnotification" class="goals-updated-text">
        <i class="fa fa-check goal-updated-check" aria-hidden="true"></i>
        <span>Saved Successfully</span>
        <span class="goals-updated-dates">{{currentdt}}</span>
      </div>
    </div>

  </div>
</form>