<div class="login-hero-img">
  <div class="login-box">
      <div class="login-outer">
          <div class="login-slogan forgot-slogan">Reset Your Password</div>
          <div class="login-subtext">We have you covered! Enter your new password.</div>
          <form (submit)="onSubmit()">
              <span class="username-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input class="input-form-text login-form-text"
                  placeholder="New Password" type="password" name="password" [(ngModel)]="password"/>
              <input class="input-form-text login-form-text"
                  placeholder="Confirm Password" type="password" name="confirmPassword" [(ngModel)]="confirmPassword"/>
              <button class="login-btn" name="login" type="submit">RESET</button>
          </form>
      </div>
  </div>
</div>
    