<div class="modal-dialog">
    <div class="modal-form-outer">
        <form (submit)="onShopSubmit()" name="addShop" class="modal-form">
            <app-modal-header title="Add Shop">
                <img src="assets/img/car-icon-yellow.svg" width="45" class="modal-header-icon">
            </app-modal-header>

            <div>
                <div class="manage-shops-add-menu"
                [ngClass]="addShopActive === 1 ? 'active' : ''"
                (click) = "makeShopActive(1)">
                    <span>Shop Info</span>
                    <i class="fa fa-check-circle manage-shops-add-menu-check-icon" 
                    [ngClass]="addShopAlreadyActive.includes(1) ? 'warning-validation' : ''"
                    aria-hidden="true"></i>
                </div>

                <div class="manage-shops-add-menu"
                [ngClass]="addShopActive === 2 ? 'active' : ''"
                (click) = "makeShopActive(2)">
                    <span>Hours</span>
                    <i class="fa fa-check-circle manage-shops-add-menu-check-icon" 
                    [ngClass]="addShopAlreadyActive.includes(2) ? 'warning-validation' : ''"
                    aria-hidden="true"></i>
                </div>
            </div>
    
            <div *ngIf="addShopActive === 1" class="modal-body-outer">
                <app-form-shop-info [shop]="shopInfo" (shopInfo)="shopInfo=$event"></app-form-shop-info>
            </div>

            <div *ngIf="addShopActive === 2" class="modal-body-outer hrs-op-outer">
                <app-form-hrs-op [weeklySchedules]="weeklySchedules"></app-form-hrs-op>
            </div>
            <app-modal-footer (notify)="closeModal($event)">
                <div *ngIf="addShopActive != 2" (click)="makeShopActive(addShopActive + 1)"
                    class="modal-buttons next-button">
                    <i class="fa fa-forward" aria-hidden="true"></i>
                    Next
                </div>
                <button *ngIf="addShopActive === 2" class="modal-buttons submit-button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add
                </button>
            </app-modal-footer>
        </form>
      </div>
    </div>