.forgot-password {
    font-size: 18px;
    font-weight: 400;
    float: left;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
    color: #0093B7;
    margin-left: 4px;
    margin-top: 20px;
}

.forgot-password:hover {
    text-decoration: none;
    color: #0093B7;
}