<div class="login-hero-img">

    <div class="login-box">
        <div class="login-outer">
            
            <img class="login-logo" src="assets/img/logo.svg" alt="Logo image"/>
            
            <div class="login-slogan">Your Data. Your Stats.</div>
            
            <form (submit)="onLoginSubmit()">
                <span class="username-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <span class="password-icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                <input class="input-form-text login-form-text" [(ngModel)]="email" 
                    placeholder="Email" type="email" name="email"/>
                <input class="input-form-text login-form-text" [(ngModel)]="password"
                    placeholder="Password" type="password" name="password"/>
                <button class="login-btn" name="login" type="submit">LOG IN</button>
            </form>
            
            <a class="forgot-password" routerLink="/user/forgot-login">FORGOT PASSWORD?</a>
            <app-notification *ngIf="msg != ''" [success]="success" [header]="header" [msg]="msg"></app-notification>
        </div>

    </div>
    
    </div>
    