<div class="table-responsive">
    <table class="table table-striped table-w-border table-height">
        <thead class="table-header-style">
            <tr>
                <th class="table-left">Invoice #</th>
                <th>Technicians</th>
                <th>Advisor</th>
                <th class="table-center table-mid-col">Comeback</th>
                <th class="table-center table-mid-col">CheckSheet</th>
                <th class="table-center table-total-col">Total</th>
                <th class="table-center table-small-col"><i class="fa fa-external-link" aria-hidden="true"></i></th>
                <th class="table-center table-small-col"><i class="fa fa-pencil" aria-hidden="true"></i></th>
                <th class="table-center table-small-col"><i class="fa fa-trash" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody class="box-body">
          <tr *ngFor="let invoice of invoice">
              <td class="table-left">{{invoice.invoiceNumber}}</td>
              <td>{{invoice.technician}}</td>
              <td>{{invoice.advisor}}</td>
              <td class="table-center table-mid-col" >
                  <i *ngIf="invoice.isComeBack" class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-center table-mid-col" >
                  <i *ngIf="invoice.hasCheckSheet" class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-center table-total-col" >{{invoice.total | currency}}</td>
                <td class="table-center table-small-col"><i ng-click="openDetailsInvoiceModal(invoice)" class="fa fa-external-link details-icon" aria-hidden="true"></i></td>
                <td class="table-center table-small-col"><i ng-click="openEditInvoiceModal(invoice)" class="fa fa-pencil edit-icon" aria-hidden="true"></i></td>
                <td class="table-center table-small-col"><i (click)="toggleModal('deleteInvoice')" class="fa fa-trash delete-icon" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
  </div>