<div class="header-outer">
    <div class="row">
        <div class="logo">
            <img class="brand-image" src="assets/img/logo.svg" alt="Logo image"/>
        </div>
        <div class="menu-outer hidden-mobile">
            <div class="menu">
                <ul>
                    <li>
                        <a routerLink="login" >SIGN IN</a>
                    </li>
                </ul>
            </div><a class="shop-button button-header" routerLink="register" >START TODAY!</a>
        </div>
    </div>
</div>