<div class="column1">Name</div>
<div class="column2">
    <input data-ng-model="shop.contact.firstName" type="text" name="First Name" class="input-form-text"
           ng-minlength="2" ng-maxlength="20" ng-required="true">
</div>
<div class="column1">Phone</div>
<div class="column2">
    <input data-ng-model="shop.contact.phoneNumber" type="text" name="Phone" class="input-form-text"
           ng-minlength="12" ng-maxlength="12" ng-required="true">
</div>
<div class="column1">Email</div>
<div class="column2">
    <input data-ng-model="shop.contact.email" type="text" name="Email" class="input-form-text"
           ng-minlength="3" ng-maxlength="50" ng-required="true">
</div>