<div class="table table-striped table-modal-hrs-op">
    <div class="table-header-style-hours-of-operation">

        <div class="rows3-col1-header">
            <span class="hrs-op-edit-header">
                <i class="fa fa-calendar-times-o" aria-hidden="true"></i>Day
            </span>
        </div>
        <div class="rows3-col2-header">
            <span class="hrs-op-edit-header">
                <i class="fa fa-clock-o" aria-hidden="true"></i>Open
            </span>
        </div>
        <div class="rows3-col3-header">
            <span class="hrs-op-edit-header">
                <i class="fa fa-clock-o" aria-hidden="true"></i>Close
            </span>
        </div>

        <div class="box-body box-body-hrs-op">
            <div *ngFor="let daySchedule of weeklySchedules">
                <app-hrs-op-day [daySchedule]="daySchedule" [datearray]="datearray"></app-hrs-op-day>
            </div>
        </div>

    </div>
</div>