<div class="column1">Shop Name</div>
<div class="column2">
    <input type="text" placeholder="Enter Shop Name" name="Shop Name" [(ngModel)]="shop.shopName" class="input-form-text">
</div>
<div class="column1">Labor Rate</div>
<div class="column2">
    <input type="text" placeholder="Enter Labor Rate" name="Labor Rate" [(ngModel)]="shop.laborRate" class="input-form-text">
</div>
<div class="column1">Tax</div>
<div class="column2">
    <input type="text" placeholder="Enter Sales Tax" name="Sales Tax" [(ngModel)]="shop.salesTax" class="input-form-text">
</div>
<div class="column1">Address</div>
<div class="column2">
    <input type="text" placeholder="Enter Shop Address" name="Shop Address" [(ngModel)]="shop.shopAddress" class="input-form-text">
</div>
<div class="column1">City</div>
<div class="column2">
    <input type="text" placeholder="Enter Shop City" name="Shop City" [(ngModel)]="shop.shopCity" class="input-form-text">
</div>
<div class="column1">State</div>
<div class="column2">
    <input type="text" placeholder="Enter Shop State" name="Shop State" [(ngModel)]="shop.shopState" class="input-form-text">
</div>
<div class="column1">Zip</div>
<div class="column2">
    <input type="text" placeholder="Enter Shop Zip" name="Shop Zip" [(ngModel)]="shop.shopZip" class="input-form-text">
</div>