<div class="col-md-6 col-shop-header-left">
    <img class="img-circle" src="assets/img/shop-icon-car2.svg" alt="User profile picture">
    <div class="shop-header">Manage Shops</div>
  </div>
  <div class="col-md-6">
        <div class="shop-button add-button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="button-text-left">Add Shop</span>
            </div>
  </div>
  
  <div class="col-md-12">
    <app-manage-shops-list></app-manage-shops-list>
  </div>

  <app-modal>
      <app-manage-shops-add></app-manage-shops-add>
  </app-modal>