<div class="col-md-6 col-shop-header-left">
    <img class="img-circle" src="assets/img/shop-icon-car2.svg" alt="User profile picture">
    <div class="shop-header">Manage Shops</div>
  </div>
  <div class="col-md-6">
        <div class="shop-button add-button" (click)="openModal = 'add-shop'">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="button-text-left">Add Shop</span>
            </div>
  </div>
  
  <div class="col-md-12">
    <app-manage-shops-list (notify)="toggleModal($event)"></app-manage-shops-list>
  </div>

  <app-modal *ngIf="openModal === 'add-shop'">
      <app-manage-shops-add (notify)="toggleModal($event)"></app-manage-shops-add>
  </app-modal>  
  
    <app-modal *ngIf="openModal === 'add-new-technician'">
        <app-manage-shops-add-technician (notify)="toggleModal($event)"></app-manage-shops-add-technician>
    </app-modal>

    <app-modal *ngIf="openModal === 'add-existing-technician'">
            <app-manage-shops-existing-technician (notify)="toggleModal($event)"></app-manage-shops-existing-technician>
        </app-modal>