<div class="modal-form-outer">
    <form name="editContactPersonForm" class="modal-form">
        <app-modal-header title="Edit Contact Person" color="yellow">
            <img src="assets/img/header-contact-icon.svg" width="35" class="modal-header-icon">
        </app-modal-header>

        <div class="modal-body-outer">

            <div form-validation="editContactPersonForm"></div>

            <div class="column1">First Name</div>
            <div class="column2">
                <input data-ng-model="shop.contact.firstName" type="text" name="First Name" class="input-form-text"
                       ng-minlength="2" ng-maxlength="20" ng-required="true">
            </div>
            <div class="column1">Last Name</div>
            <div class="column2">
                <input data-ng-model="shop.contact.lastName" type="text" name="Last Name" class="input-form-text"
                       ng-minlength="2" ng-maxlength="20" ng-required="true">
            </div>
            <div class="column1">Phone</div>
            <div class="column2">
                <input data-ng-model="shop.contact.phoneNumber" type="text" name="Phone" class="input-form-text"
                       ng-minlength="12" ng-maxlength="12" ng-required="true">
            </div>
            <div class="column1">Email</div>
            <div class="column2">
                <input data-ng-model="shop.contact.email" type="text" name="Email" class="input-form-text"
                       ng-minlength="3" ng-maxlength="50" ng-required="true">
            </div>
        </div>

        <app-modal-footer (notify)="closeModal($event)">
            <button class="modal-buttons submit-button">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </app-modal-footer>

    </form>
</div>