<div class="modal-form-outer">
    <form name="editContactPersonForm" class="modal-form">
        <div class="modal-back-row visible-xs-block">
          <div class="back-button" ng-click="$close()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span>Back</span>
          </div>
        </div>
        <div class="modal-header-outer modal-header-contact-person">
            <div class="header-column1 header-column1-contact-person"><img src="assets/img/header-contact-icon.svg" width="40"
                                                                           class="img-circle-modal-header"
                                                                           alt="User Image"></div>
            <div class="header-column2 header-column2-contact-person">Edit Contact Person</div>
        </div>

        <div class="modal-body-outer">

            <div form-validation="editContactPersonForm"></div>

            <div class="column1">First Name</div>
            <div class="column2">
                <input data-ng-model="shop.contact.firstName" type="text" name="First Name" class="input-form-text"
                       ng-minlength="2" ng-maxlength="20" ng-required="true">
            </div>
            <div class="column1">Last Name</div>
            <div class="column2">
                <input data-ng-model="shop.contact.lastName" type="text" name="Last Name" class="input-form-text"
                       ng-minlength="2" ng-maxlength="20" ng-required="true">
            </div>
            <div class="column1">Phone</div>
            <div class="column2">
                <input data-ng-model="shop.contact.phoneNumber" type="text" name="Phone" class="input-form-text"
                       ng-minlength="12" ng-maxlength="12" ng-required="true">
            </div>
            <div class="column1">Email</div>
            <div class="column2">
                <input data-ng-model="shop.contact.email" type="text" name="Email" class="input-form-text"
                       ng-minlength="3" ng-maxlength="50" ng-required="true">
            </div>
        </div>

        <div class="modal-footer">
            <button class="modal-buttons cancel-button hidden-xs" (click)='closeModal()'>
                <i class="fa fa-times" aria-hidden="true"></i>
                Cancel
            </button>
            <!--ng-disabled="editContactPersonForm.$invalid"-->
            <button  class="modal-buttons submit-button">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>

    </form>
</div>