
<div class="col-md-6 col-shop-header-left">
  <img class="img-circle" src="assets/img/invoice-icon.svg" alt="User profile picture">
  <div class="shop-header">Invoices</div>
</div>
<div class="col-md-6">
  <app-date-picker mode="date"></app-date-picker>
</div>

<div class="col-md-12">
  <app-invoice-list (notify)="toggleModal($event)"></app-invoice-list>

  <div class="shop-buttons-row">
      <div (click)="toggleModal('addInvoice')" class="shop-button add-button invoice-btn">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span class="button-text-left">Add Invoice</span>
      </div>
  </div>

</div>

<app-modal *ngIf="openModal === 'addInvoice'">
  <app-invoice-add (notify)="toggleModal($event)"></app-invoice-add>
</app-modal>

<app-modal *ngIf="openModal === 'deleteInvoice'">
  <app-invoice-delete (notify)="toggleModal($event)"></app-invoice-delete>
</app-modal>
